pageplus
{
    display: block;

    background-color: #fff;
}

.headerMain {
	background-color: #fff;
	margin-top: 6rem;
	margin-bottom: 5rem;
	font-size: 5rem;
		padding: 0 1.2rem;
	}

.subheader {
	font-size: 2.5rem;
	padding-right: 1.5rem;
}
.description {
	display: block;
	font-size: 1.25rem;
}

section {
	margin-bottom: 10rem;
	padding: 0 1.2rem;
}

.contactLink {
	color: #000;
}