.container
  scroll-snap-type: y mandatory
  overflow-y: scroll
  height: 100vh
  div
    scroll-snap-align: start
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    font-size: 4rem

.container
  div:nth-child(1)
    background: hotpink
    color: white

.container
  div:nth-child(2)
    background: azure

.container
  div:nth-child(3)
    background: blanchedalmond

.container
  div:nth-child(4)
    background: lightcoral
    color: white
