@require '../stylus/rupture.config'
@require '../stylus/header.config.styl'

.page-navigation
  display: flex
  align-items: center
  width: 0
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #fff
  overflow-x: hidden
  z-index: 200
  transition: width .5s

  +above('m')
    background: none !important

  &.visible-on-mobile
    width: 100%

    +above('m')
      width: auto

  +above('m')
    width: auto
    top: header.padding
    left: header.padding
    right: auto
    bottom: auto
    background: none

  ul
    padding-left: 55px

    +above('m')
      padding-left: 0

    .entry
      text-transform: lowercase
      font-size: 14px
      font-weight: bold

      +above('m')
        font-size: 12px



  .close-navigation
    position: absolute
    top: header.padding-mobile
    right: header.padding-mobile
    width: 35px

    +above('m')
      display: none
