@require '../stylus/scrollingtext.config.styl'

.scrolling-text-block-container
  margin-bottom: 60px

  +above(scrollingtext.two-cols-breakpoint)
    padding-left: 50%

  h3
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 25px
    margin-bottom: 15px

    +above(scrollingtext.two-cols-breakpoint)
      max-width: 65%
      font-size: 30px
