.video-container
  position: relative
  width: 100%
  height: 100%

  .inner-container
    padding: 30px
    width: 100%
    height: 100%

    video
      width: 100%
      height: 100%
      object-fit: contain

  @import 'overlay.styl'
